#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Gmail - Direct to Me
Exec=/usr/bin/google-chrome --profile-directory=Default --app="http://go/direct-to-me-goldfarb-google.com-google.com-mail" 
Icon=chrome-fmgjjmmmlfnkbppncabfkddbjimcfncm-Default
StartupWMClass=mail.google.com
