#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Inbox
Exec=/usr/bin/google-chrome --app="https://inbox.google.com/u/0/"
Icon=inbox.png
StartupWMClass=play.google.com__music_listen
